@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-size: 16px;
  --font-family: /*"Ubuntu",*/ "Poppins", sans-serif;
  --black: #0e0e0e;
  --gray: #1f1f1f;
  --lightgray: #5a5a5a;
  --verylightgray: #838383;
  --white: #f1f1f1;
  --red: #ff3737;
  --green: #28a728;
  --blue: #6495ed;
  --yellow: #ffd700;
  --purple: #663399;
  --background-color: var(--black);
  --text-color: var(--white);
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --border-focus: 1px solid rgba(255, 255, 255, 0.2);
  --border-white: 1px solid rgba(255, 255, 255, 0.2);
  --border-transparent: 1px solid transparent;
  --fill: rgba(40, 40, 40, 0.1);
  --fill-focus: rgba(128, 128, 128, 0.2);
  --fill-slider: rgba(255, 255, 255, 0.3);
  --fill-white: rgba(255, 255, 255, 1);
  --blur: blur(10px);
  --shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  --transition: all 200ms ease-in;
  --vl-1: var(--fill-slider) 0;
  --vl-2: var(--fill-slider) calc(50% - 1px);
  --vl-3: var(--fill) calc(50% + 1px);
  --vl-4: var(--fill) 100%;
  --volume-slider: linear-gradient(to right, var(--vl-1), var(--vl-2), var(--vl-3), var(--vl-4));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--font-family);
}

html {
  background-color: var(--background-color);
  font-size: var(--font-size, 16px);
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
}

.input-range::-moz-range-thumb, .input-range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  border: 0;
}

.input-range {
  --border-width: 1px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 1.1rem;
  background: var(--volume-slider);
  background-size: calc(100% + 2 * var(--border-width)) 100%;
  border: var(--border);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--transition);
}
.input-range:hover {
  border: var(--border-focus);
}
.input-range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  border: 0;
  visibility: hidden;
}
.input-select {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
}
.input-select select {
  min-width: 200px;
  padding: 0.5rem 0.8rem;
  border: var(--border-focus);
  background-color: var(--fill);
  border-radius: 5px;
  color: var(--text-color);
}
.input-select option {
  background-color: var(--black);
  color: var(--text-color);
}

.input-switch {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  width: 2.5rem;
  height: 1.5em;
}
.input-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--border-focus);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 300ms;
}
.input-switch .slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: all 300ms;
  border-radius: 1rem;
}
.input-switch .slider .thumb {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1rem;
  background-color: var(--white);
}
.input-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.input-switch input:checked + .slider {
  border: 1px solid var(--white);
}
.input-switch input:checked + .slider:before {
  transform: translateX(1rem);
}

.input-number {
  width: 100px;
  padding: 0.5rem 0.8rem;
  border: var(--border-focus);
  background-color: var(--fill);
  border-radius: 5px;
  color: var(--text-color);
}

.button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: var(--fill);
  box-shadow: var(--shadow);
  transition: background-color 200ms ease-in;
}
.button:hover {
  background-color: var(--fill-focus);
  border: var(--border-focus);
}

.button-pill {
  --height: 40px;
  min-width: 110px;
  min-height: var(--height);
  text-align: center;
  padding: 0.7rem 0.8rem;
  font-size: 0.85rem;
  border: var(--border);
  border-radius: calc(var(--height) / 2);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
}
.button-pill:hover {
  color: var(--black);
  background-color: var(--fill-white);
}

.button-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  padding: 0.9rem;
}

.button-icon {
  --height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
  gap: 0.5rem;
  height: var(--height);
  width: 100%;
  padding: 0.8rem 1rem 0.8rem 0.9rem;
  border-radius: calc(var(--height) / 4);
  border: var(--border);
  background-color: var(--fill);
  color: white;
  transition: var(--transition);
}
.button-icon:hover {
  color: var(--black);
  background-color: var(--fill-white);
}

.button-opt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  height: 100%;
  border-radius: 50%;
  padding: 0.3rem;
  background-color: transparent;
  border: var(--border-transparent);
  box-shadow: none;
}
.button-opt:hover {
  border: var(--border-transparent);
}

.active-button {
  background-color: var(--fill-focus) !important;
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  box-shadow: var(--shadow);
  color: var(--text-color);
  border: var(--border);
  border-radius: 10px;
}

.button-opt-menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
  padding: 0.7rem 0.8rem;
  border: 1px solid var(--border);
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
}
.button-opt-menu:hover {
  border: 1px solid var(--border);
}

.button-setting {
  --height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
  gap: 0.5rem;
  height: var(--height);
  padding: 0.8rem 1rem 0.8rem 0.9rem;
  border-radius: calc(var(--height) / 4);
  border: 1px solid transparent;
  background-color: var(--fill);
  color: white;
  transition: var(--transition);
}
.button-setting:hover {
  border: var(--border);
}

.glass-effect {
  background-color: var(--fill);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  box-shadow: var(--shadow);
  color: var(--text-color);
  border: var(--border);
  border-radius: 10px;
}

.transparent-effect {
  background-color: transparent;
  color: white;
  box-shadow: none !important;
}

#start-button, .active {
  background-color: white;
  color: var(--black);
}

.timer-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  padding: 2.5rem;
  min-height: 400px;
  box-shadow: var(--shadow);
}

.timer-mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}

.timer-actions {
  display: flex;
  gap: 1rem;
}

.timer-clock {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--white);
}

#start-button:hover {
  background-color: var(--fill-focus);
  color: var(--text-color);
}

#reset-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.panel-subheader, .panel-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.panel {
  display: none;
  padding: 1.5rem;
  min-width: 360px;
  overflow: auto;
}

.panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  margin-bottom: 2rem;
}

.panel-subheader {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.panel-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.panel-subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.panel-section {
  margin-bottom: 2rem;
}
.panel-section:nth-last-child(1) {
  margin-bottom: 1rem;
}

.panel-fit-content {
  height: -moz-fit-content;
  height: fit-content;
}

.playlist-container {
  width: 310px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--gray);
  margin-bottom: 1rem;
}

.add-playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-playlist {
  height: 100px;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  resize: none;
  outline: none;
  padding: 0.8rem 0.9rem;
  background-color: var(--gray);
  color: var(--white);
  font-size: 0.8rem;
}

#button-playlist-create {
  margin-right: 1rem;
}

.sounds .menu {
  margin-bottom: 1.5rem;
}

.volume-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 0 0.8rem;
}

#playlist-info-menu {
  width: 312px;
  max-height: 350px;
  overflow: auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-wrap: wrap;
  padding: 0.9rem 1rem;
  display: block;
}
#playlist-info-menu div {
  position: relative;
}
#playlist-info-menu p {
  margin-bottom: 0.5rem;
}
#playlist-info-menu img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.stats-title {
  margin-bottom: 1.5rem;
}

.stats-panel .stats {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.stats-field {
  border: var(--border);
  border-radius: 10px;
  padding: 0.9rem 1rem;
  width: 140px;
  min-height: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.tasklist-panel {
  min-height: 320px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.9rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  font-size: 0.8rem;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  line-height: 1.2rem;
}
.task .check {
  all: unset;
  position: absolute;
  z-index: 3;
  width: 45px;
  height: 45px;
  cursor: pointer;
  inset: 0;
}
.task:has(input:checked) .check-icon {
  fill: var(--white);
  stroke: var(--white);
}
.task .check-icon {
  width: 20px;
  height: 20px;
  stroke-width: 2px;
  fill: transparent;
  margin-top: 3px;
}
.task .task-description {
  width: 200px;
  word-wrap: break-word;
}
.task .options-menu {
  width: -moz-fit-content;
  width: fit-content;
}

#add-task-button {
  margin-bottom: 1rem;
}

.task-create {
  padding: 1rem 1.1rem;
  margin-bottom: 1rem;
  width: 310px;
}
.task-create .input-text {
  padding: 0.8rem 0.9rem;
  width: 100%;
  outline: none;
  resize: none;
  font-size: 0.8rem;
  text-wrap: wrap;
  white-space-collapse: collapse;
  font-family: "Poppins", sans-serif;
  background-color: var(--gray);
  border-radius: 10px;
  color: var(--text-color);
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}
.task-create .input-text:focus {
  outline: none;
}
.task-create .create-buttons {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

#button-task-create {
  margin-right: 1rem;
}

.checked {
  color: var(--lightgray) !important;
}
.checked .check-icon {
  fill: var(--lightgray) !important;
  stroke: var(--lightgray) !important;
}

.background {
  visibility: visible;
  display: block;
  z-index: -1;
}

.object {
  height: 250px;
  border-radius: 125px;
  width: 250px;
  border-radius: 125px;
  position: absolute;
  z-index: -5;
}

#o1 {
  background-color: darkseagreen;
  background-image: linear-gradient(to right, #AC9647, #C95D5D);
  left: 20%;
  top: 40%;
}

#o2 {
  background-color: cadetblue;
  background-image: linear-gradient(to right, #51478A, #84519B);
  left: 60%;
  top: 10%;
}

#o3 {
  background-color: cornflowerblue;
  background-image: linear-gradient(to right, #478A5A, #51979B);
  left: 50%;
  top: 55%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--text-color);
  font-size: 0.9rem;
  line-height: 1.6rem;
  text-align: center;
  width: 440px;
  padding: 0 1rem;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

#quote-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 10px;
}
#quote-button .icon {
  color: var(--lightgray);
  height: 15px;
  width: 15px;
  stroke-width: 3px;
}
#quote-button:hover .icon {
  color: var(--text-color);
}

#author-box {
  white-space: nowrap;
}

#settings-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 800px;
  height: -moz-fit-content;
  height: fit-content;
}

.settings {
  display: flex;
  margin-bottom: 2rem;
}

.settings-opts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.3rem;
  margin-left: 0 auto;
  width: 30%;
  height: 100%;
  border-right: var(--border-focus);
  list-style-type: none;
}
.settings-opts .icon-setting {
  width: 24px;
  height: 24px;
}
.settings-opts .active-setting {
  background-color: var(--fill-focus);
  border: var(--border);
}

.settings-setting {
  font-size: 0.875rem;
  padding-left: 4rem;
  width: 70%;
  max-height: 300px;
  overflow-y: scroll;
}

.setting-section {
  display: none !important;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: var(--border);
}
.setting-section h3,
.setting-section label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.setting-section h4 {
  font-weight: semibold;
  margin-bottom: 0.5rem;
}
.setting-section span {
  font-size: 0.8rem;
  color: var(--verylightgray);
  margin-top: 0.5rem;
}

.setting-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: unset;
  position: relative;
}
.setting-toggle div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

#button-save-settings {
  float: right;
  background-color: var(--white);
  color: var(--black);
}
#button-save-settings:hover {
  background-color: var(--fill-focus);
  color: var(--text-color);
}

.show-section {
  display: flex !important;
}

.hide-section {
  display: none !important;
}

#setting-timers {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
#setting-timers .setting-timer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
}

#setting-sound,
#setting-alert {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
#setting-sound .setting-volume,
#setting-alert .setting-volume {
  width: 200px;
}

#setting-theme {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

#setting-gris-theme,
#setting-solid-theme {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
#setting-gris-theme .themes-grid,
#setting-solid-theme .themes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
#setting-gris-theme .themes-grid .theme,
#setting-solid-theme .themes-grid .theme {
  border-radius: 10px;
  border: var(--border);
  overflow: hidden;
  cursor: pointer;
}
#setting-gris-theme .themes-grid .theme:hover,
#setting-solid-theme .themes-grid .theme:hover {
  border: var(--border-focus);
}
#setting-gris-theme .themes-grid .theme img, #setting-gris-theme .themes-grid .theme div,
#setting-solid-theme .themes-grid .theme img,
#setting-solid-theme .themes-grid .theme div {
  min-height: 125px;
  width: 220px;
  height: auto;
}
#setting-gris-theme .themes-grid .theme #black-theme,
#setting-solid-theme .themes-grid .theme #black-theme {
  background-color: var(--black);
}
#setting-gris-theme .themes-grid .theme #white-theme,
#setting-solid-theme .themes-grid .theme #white-theme {
  background-color: var(--white);
}
#setting-gris-theme .themes-grid .theme #lightgray-theme,
#setting-solid-theme .themes-grid .theme #lightgray-theme {
  background-color: var(--lightgray);
}
#setting-gris-theme .themes-grid .theme #red-theme,
#setting-solid-theme .themes-grid .theme #red-theme {
  background-color: var(--red);
}
#setting-gris-theme .themes-grid .theme #green-theme,
#setting-solid-theme .themes-grid .theme #green-theme {
  background-color: var(--green);
}
#setting-gris-theme .themes-grid .theme #blue-theme,
#setting-solid-theme .themes-grid .theme #blue-theme {
  background-color: var(--blue);
}
#setting-gris-theme .themes-grid .theme #yellow-theme,
#setting-solid-theme .themes-grid .theme #yellow-theme {
  background-color: var(--yellow);
}
#setting-gris-theme .themes-grid .theme #purple-theme,
#setting-solid-theme .themes-grid .theme #purple-theme {
  background-color: var(--purple);
}
#setting-gris-theme .themes-grid .active-theme, #setting-gris-theme .themes-grid .active-theme:hover,
#setting-solid-theme .themes-grid .active-theme,
#setting-solid-theme .themes-grid .active-theme:hover {
  border: 1px solid var(--white);
}

#setting-stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  width: 100%;
}
#setting-stats .settings-stats {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  width: 100%;
}
#setting-stats .settings-stats span {
  font-size: 0.8rem;
  color: var(--text-color);
}
#setting-stats .settings-stats h3 {
  margin-bottom: 1.5rem;
}
#setting-stats .settings-stats div {
  background-color: var(--gray);
  width: 170px;
}
#setting-stats #button-reset-stats {
  float: right;
}

#setting-menu-buttons,
#setting-music-sections,
#setting-reset {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.container {
  background-color: var(--black);
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.layout {
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.right, .left, .center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  min-height: 590px;
}

.center {
  justify-content: start;
  align-items: center;
  order: 2;
}

.left {
  order: 1;
  align-items: end;
}

.right {
  order: 3;
  align-items: start;
}

.over {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.opt-menu-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.opt-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  display: none;
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
  border-radius: 10px;
  border: var(--border);
  padding: 0.5rem;
  background-color: var(--gray);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  z-index: 30;
}

.emphasis {
  font-weight: 700;
  color: white;
}

.rotate-cw {
  transition: transform 1s ease;
  transform: rotate(360deg);
}

.rotate-ccw {
  transition: transform 1s ease;
  transform: rotate(-360deg);
}

.hidden {
  visibility: hidden;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track:hover {
  background: #3d3d3d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  visibility: hidden;
}

*:hover::-webkit-scrollbar-thumb {
  background: #676767;
  visibility: visible;
}

.icon {
  width: 20px;
  height: 20px;
  stroke-width: 2px;
}

.icon.filled {
  fill: var(--white);
}

.opt-icon {
  width: 15px;
  height: 15px;
}

.warning {
  color: tomato;
  font-size: 0.8rem;
  font-style: italic;
}

.warning-border {
  border: 1px solid tomato;
}

@media only screen and (max-width: 1280px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
  }
  .center, .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    min-height: 0;
  }
  .center {
    order: 1;
  }
  .right {
    order: 3;
  }
  .left {
    order: 2;
  }
  .quote {
    display: none;
  }
  .timer-mode {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */