.playlist-container {
  width: 310px;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--gray);
  margin-bottom: 1rem;
}

.add-playlist {
  @include flex(row, space-between, center, 1rem);
  margin-bottom: 1rem;
}

.form-playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-playlist {
  height: 100px;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  resize: none;
  outline: none;
  padding: 0.8rem 0.9rem;
  background-color: var(--gray);
  color: var(--white);
  font-size: 0.8rem;
}

#button-playlist-create {
  margin-right: 1rem;
}

.sounds .menu {
  margin-bottom: 1.5rem;
}

.volume-slider {
  @include flex(row, center, center, 0.8rem);
  margin: 0 0.8rem;
}

#playlist-info-menu {
  width: 312px;
  max-height: 350px;
  overflow: auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-wrap: wrap;
  padding: 0.9rem 1rem;
  display: block;

  div {
    position: relative;
  }

  p {
    margin-bottom: 0.5rem;
  }

  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
