#settings-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 800px;
  height: fit-content;
}

.settings {
  display: flex;
  margin-bottom: 2rem;
}

.settings-opts {
  @include flex(column, start, start, 0.3rem);

  margin-left: 0 auto;
  width: 30%;
  height: 100%;
  border-right: var(--border-focus);
  list-style-type: none;

  .icon-setting {
    width: 24px;
    height: 24px;
  }

  .active-setting {
    background-color: var(--fill-focus);
    border: var(--border);
  }
}

.settings-setting {
  font-size: 0.875rem;
  padding-left: 4rem;
  width: 70%;
  max-height: 300px;
  overflow-y: scroll;
}

.setting-section {
  display: none !important;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: var(--border);

  & h3,
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & h4 {
    font-weight: semibold;
    margin-bottom: 0.5rem;
  }

  & span {
    font-size: 0.8rem;
    color: var(--verylightgray);
    margin-top: 0.5rem;
  }
}

.setting-toggle {
  @include flex(column, center, start, unset);
  position: relative;

  & div {
    @include flex(row, start, center, 0.5rem);
  }
}

#button-save-settings {
  float: right;
  background-color: var(--white);
  color: var(--black);

  &:hover {
    background-color: var(--fill-focus);
    color: var(--text-color);
  }
}

.show-section {
  display: flex !important;
}

.hide-section {
  display: none !important;
}

.sub-setting {
  margin-left: 2rem;
  margin-top: -0.5rem;
}

// estilo para seções de configuração específicas
#setting-timers {
  @include flex(row, start, start, 2rem);

  & .setting-timer {
    @include flex(column, start, start, unset);
  }
}

#setting-sound,
#setting-alert {
  @include flex(column, start, start, 1rem);

  & .setting-volume {
    width: 200px;
  }
}

#setting-theme {
  @include flex(column, start, start, 1rem);
}

#setting-gris-theme,
#setting-solid-theme {
  @include flex(column, start, start, 0.5rem);
  & .themes-grid {
    @include grid(0.5rem);

    & .theme {
      border-radius: 10px;
      border: var(--border);
      overflow: hidden;
      cursor: pointer;

      &:hover {
        border: var(--border-focus);
      }

      & img,
      & div {
        min-height: 125px;
        width: 220px;
        height: auto;
      }

      #black-theme {
        background-color: var(--black);
      }
      #white-theme {
        background-color: var(--white);
      }
      #lightgray-theme {
        background-color: var(--lightgray);
      }
      #red-theme {
        background-color: var(--red);
      }
      #green-theme {
        background-color: var(--green);
      }
      #blue-theme {
        background-color: var(--blue);
      }
      #yellow-theme {
        background-color: var(--yellow);
      }
      #purple-theme {
        background-color: var(--purple);
      }
    }

    & .active-theme,
    & .active-theme:hover {
      border: 1px solid var(--white);
    }
  }
}

#setting-stats {
  @include flex(column, start, start, 2rem);
  width: 100%;

  & .settings-stats {
    @include flex(row, start, start, 2rem);
    width: 100%;

    & span {
      font-size: 0.8rem;
      color: var(--text-color);
    }

    & h3 {
      margin-bottom: 1.5rem;
    }

    & div {
      background-color: var(--gray);
      width: 170px;
    }
  }

  & #button-reset-stats {
    float: right;
  }
}

#setting-display-panels,
#setting-display-others,
#setting-reset {
  @include flex(column, start, start, 1rem);
}
