.tasklist-panel {
  min-height: 320px;
}

.task {
  @include flex(row, center, flex-start, 1rem);
  padding: 0.9rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  font-size: 0.8rem;
  backdrop-filter: none;
  line-height: 1.2rem;

  .check {
    all: unset;
    position: absolute;
    z-index: 3;
    width: 45px;
    height: 45px;
    cursor: pointer;
    inset: 0;
  }

  &:has(input:checked) .check-icon {
    fill: var(--white);
    stroke: var(--white);
  }

  .check-icon {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
    fill: transparent;
    margin-top: 3px;
  }

  .task-description {
    width: 200px;
    word-wrap: break-word;
  }

  .options-menu {
    width: fit-content;
  }
}

#add-task-button {
  margin-bottom: 1rem;
}

.task-create {
  padding: 1rem 1.1rem;
  margin-bottom: 1rem;
  width: 310px;

  .input-text {
    padding: 0.8rem 0.9rem;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 0.8rem;
    text-wrap: wrap;
    white-space-collapse: collapse;
    font-family: "Poppins", sans-serif;
    background-color: var(--gray);
    border-radius: 10px;
    color: var(--text-color);
    margin-bottom: 1rem;
    margin-top: 0.4rem;

    &:focus {
      outline: none;
    }
  }

  .create-buttons {
    margin: 0 auto;
    width: fit-content;
  }
}

#button-task-create {
  margin-right: 1rem;
}

.checked {
  color: var(--lightgray) !important;

  .check-icon {
    fill: var(--lightgray) !important;
    stroke: var(--lightgray) !important;
  }
}
