%white-button {
  background-color: white;
  color: var(--black);
}

.timer-panel {
  @include flex(column, space-between, center, unset);

  padding: 2.5rem;
  min-height: 400px;
  box-shadow: var(--shadow);
}

.timer-mode {
  @include flex(row, center, center, 1rem);
  color: var(--white);
}

.timer-actions {
  display: flex;
  gap: 1rem;
}

.timer-clock {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--white);
}

.active {
  @extend %white-button;
}

#start-button {
  @extend %white-button;

  &:hover {
    background-color: var(--fill-focus);
    color: var(--text-color);
  }
}

#reset-button {
  @include flex(row, center, center, unset);

  background-color: transparent;
  border: 0;
  box-shadow: none;
}
