@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./root";
@import "./functions";
@import "./buttons";
@import "./effects";
@import "./timer";
@import "./panel";
@import "./music";
@import "./stats";
@import "./tasklist";
@import "./background";

.container {
  // background-image: url("/resources/backgound/gris3.jpg");
  background-size: cover;
}

.layout {
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: start;
  column-gap: 2rem;
}

%container-section {
  @include flex(column, unset, unset, 1.5rem);
  min-width: 360px; 
  min-height: 70vh;
  grid-row: 1;
}

.center {
  @extend %container-section;
  justify-content: start;
  align-items: center;
  width: fit-content;
  grid-column: 2;
}

.left {
  @extend %container-section;
  grid-column: 1;
}

.right {
  @extend %container-section;
  grid-column: 3;
}

.menu {
  @include flex(row, center, center, 1.5rem);
  width: 100%;
}

.quote {
  color: var(--text-color); 
  font-family: 'Ubuntu', sans-serif; 
  font-size: 1.1rem; 
  line-height: 1.6rem; 
  margin-top: 1.2rem; 
  text-align: center; 
  width:440px
}
