@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "./root";
@import "./functions";
@import "./buttons";
@import "./effects";
@import "./timer";
@import "./panel";
@import "./music";
@import "./stats";
@import "./tasklist";
@import "./background";
@import "./quote";

.container {
  // background-image: url("/assets/backgound/gris3.jpg");
  background-size: cover;
  user-select: none;
}

.layout {
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: start;
  column-gap: 2rem;
}

%container-section {
  @include flex(column, center, center, 1.5rem);
  min-width: 360px; 
  min-height: 70vh;
  grid-row: 1;
}

.center {
  @extend %container-section;
  justify-content: start;
  align-items: center;
  width: fit-content;
  grid-column: 2;
}

.left {
  @extend %container-section;
  grid-column: 1;
}

.right {
  @extend %container-section;
  grid-column: 3;
}

.over {
  @extend %container-section;
  // position: absolute;
  display: none;
  width: 100wv;
  height: 100hv;
}

.menu {
  @include flex(row, center, center, 1.5rem);
  width: 100%;
}

.opt-menu-wrapper {
  position: relative;
  width: fit-content;
}

.opt-menu {
  @include flex(column, center, center, unset);
  display: none;
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  width: fit-content;
  text-wrap: nowrap;
  border-radius: 10px;
  border: var(--border);
  padding: 0.5rem;
  background-color: var(--gray);
  backdrop-filter: var(--blur);
  z-index: 30;
}

.emphasis {
  font-weight: 700;
  color: white;
}

.rotate-cw {
  transition: transform 1s ease;
  transform: rotate(360deg);
}

.rotate-ccw {
  transition: transform 1s ease;
  transform: rotate(-360deg);
}

.hidden {
  visibility: hidden;
}

// para a barra de rolagem chrome
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-track:hover {
  background: #3d3d3d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  visibility: hidden;
}

*:hover::-webkit-scrollbar-thumb {
  background: #676767;
  visibility: visible;
}

.icon {
  width: 20px;
  height: 20px;
  stroke-width: 2px;
}

.icon.filled {
  fill: var(--white);
}

.opt-icon {
  width: 15px;
  height: 15px;
}

.warning {
  color: tomato;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.4rem;
}